node_modules/
.env
.DS_Store
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
.next/
out/
backend/uploads/
frontend/.next/
frontend/out/
backend/node_modules/
frontend/node_modules/
